
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --bg-color: #efe3fcb4;
  --main-color: #2c2d36;
  --text-color: rgba(36, 36, 36, 0.986);
  --text-color-2: rgba(255, 255, 255, 0.986);
  --primary-color: #eafdf475;
  --border-color: rgb(231, 226, 236);
  --hover-color: rgba(182, 230, 230, 0.616);
  --box-color: rgba(255, 255, 255, 0.356);
  --blur-intensity: 2px;
}

*{
  padding: 0;
  margin: 0;
}

body, html, a, li, ul, div{
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

h4{
  font-weight: 500;
  padding-bottom: 10px;
}

html {
  font-family: 'Poppins', Helvetica, 'Overpass', sans-serif, Arial;
  scroll-behavior: smooth;
  font-size: larger;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body{
  background-color: var(--primary-color);
  fill-opacity: 100%;
  /* background: linear-gradient(0deg, var(--primary-color) 0%, var(--bg-color) 60%); */
}

/* nav {
  position: fixed;
  width: 100vw;
  padding: 0.5rem 0rem 0rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

} */

nav img {
  margin: -20px -20px -20px -20px;
  height: 5rem;
  color: var(--text-color);
  filter: grayscale(100%) ;
}

nav{
  position: fixed;
  display: flex;
  /* flex-grow: 1; */
  padding: 5px 10%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* color: var(--text-color) !important; */
  /* background: blanchedalmond; */
  align-items: center;
  height: 40px;
  width: 80%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(var(--blur-intensity));
  z-index: 2;
  /* backdrop-filter: blur(2px); */
}

nav div {
  display: flex;
  /* flex-grow: 1; */
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}

.nav-title{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: larger;
}
.nav-title::after{
  content: " Forecast";
}

.text-area {
  /* flex-grow: 2; */
  width: 15rem;
  text-align: center;
  /* display: table-cell; */
  /* vertical-align: middle; */
  height: 35px;
  border: 0.2px solid #83849481;
  border-radius: 25px;
  background-color: #ffffff69;
  filter: drop-shadow(0px 0px var(--blur-intensity) var(--border-color)) ;
}

.day-bar{
  font-family: 'Poppins','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: large;
  opacity: 50%;
}

.active {
  opacity: 100%;
}

/* nav a, nav div, .weekly-card, .card{
  border: 1px solid black;
} */

/* section {
  height: 100vh;
} */

.weekly-card {
  display: flex;
  /* height: 50px; */
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
  /* padding: 0 10%; */
}
/* .weekly-card::before{
  content: "Weekly";
} */

.card {
  display: flex;
  /* vertical-align: middle; */
  width: 5rem;
  height: 5rem;
  font-size: medium;
  text-align: center;
  justify-content: center;
  /* justify-items: center; */
}

#hero {
  padding-top: 46px;
  /* background-color: var(--bg-color); */
  background: linear-gradient(0deg, var(--primary-color) 0%, var(--bg-color) 60%);
  color: var(--text-color);
  text-align: center;
  height: 75vh;
}

footer {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: var(--main-color);
  color: white;
  padding: 50px 50px 10px 50px;
}
footer div:nth-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer div:nth-child(1) div{
  display: flex;
  flex-direction: column;
  justify-items: center;
}

@media (max-width: 980px) {
  .text-area, form {
    display: none;
  }
  nav {
    padding:0px 1% !important;
    width: 98%;
  }
  .nav-title::after{
    content: none;
  }
  .weekly-card{
    padding: 0px 10%;
  }
  footer {
    padding: 50px 0px 10px 0px;
  }
}